aiosmtplib
jinja2
paramiko
PySocks
cryptography
undetected-chromedriver
fastapi
uvicorn
waitress
dnspython
dkimpy
selenium
webdriver-manager
flask
tkcalendar
pyngrok
keyring
matplotlib
requests
user-agents
css-inline
PyPDF2